version: '3.8'
services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: student_db
      POSTGRES_USER: student
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    command: >
      postgres -c max_connections=5
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  app:
    build: .
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql+asyncpg://student:password@db:5432/student_db
      REDIS_URL: redis://redis:6379

networks:
  app-network:
    driver: bridge